.App {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 60px;
  margin: 10px 0px;
}

h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 45px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Paytone One", sans-serif;
}

h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
}

li {
  text-align: left;
}

p {
  font-family: "PT Sans", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: #de8f80;
}

.block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-block {
  border: 2px solid black;
  border-radius: 15px;
  perspective: 40rem;
  padding: 15px;
  margin: 15px;
  width: 25%;
}

.content {
  display: flex;
  transform-style: preserve-3d;
  transition: var(--time) transform;
}

.content:hover {
  transform: rotateX(-180deg);
}

.front,
.back {
  backface-visibility: hidden;
  min-width: 100%;
}

.back {
  transform: rotateX(-180deg) translate(-100%, 0);
}

.flip-img {
  width: 50%;
  padding-top: 20px;
}

.header-img {
  margin-top: 10px;
  width: 18%;
}

.project-img {
  width: 8%;
}

.shaded-img {
  box-shadow: 5px 5px 5px #d0d0d0;
}

.projects-container {
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  margin: 15px auto;
  width: 90%;
  height: 600px;
}

.project {
  display: grid;
  grid-template-columns: 40% 60%;
}

.project .left-column {
  height: 600px;
  border-right: 2px solid black;
  padding: 0px 10px;
}

.project .left-column h2 {
  font-size: 30px;
}

.project .left-column h3 {
  font-family: "PT Sans", sans-serif;
}

.left-h3 {
  text-align: left;
}

.project-details {
  display: flex;
  justify-content: space-around;
}

.tags {
  display: flex;
  justify-content: center;
}

.category-tag,
.materials-tag,
.feature-tag {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.category-tag {
  border: 2px solid #d2a8ea;
}

.materials-tag {
  border: 2px solid #e9af58;
}

.feature-tag {
  border: 2px solid #3970ae;
}

.project .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .right-column img {
  width: 80%;
}

@media (max-width: 500px) {
  body {
    margin: 10px;
  }

  .header-img {
    width: 60%;
  }

  .flip-img {
    width: 40%;
  }

  .flip-block {
    width: 90%;
  }

  .projects-container {
    height: auto;
  }

  .project {
    grid-template-columns: none;
  }

  .project .left-column {
    border-right: none;
    border-bottom: 2px solid black;
    height: auto;
  }

  .project .right-column {
    margin: 20px 0px;
  }

  .project .right-column img {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .header-img {
    width: 40%;
  }

  .flip-block {
    width: 40%;
  }

  .projects-container {
    height: auto;
  }

  .project {
    grid-template-columns: none;
  }

  .project .left-column {
    border-right: none;
    border-bottom: 2px solid black;
    height: auto;
  }

  .project .right-column {
    margin: 20px 0px;
  }
}
